﻿@model ExemploCRUD.Models.Funcionario

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <td>@Html.LabelFor(model => model.Codigo)</td>
            <td>@Html.TextBoxFor(model => model.Codigo, "")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Nome)</td>
            <td>@Html.TextBoxFor(model => model.Nome, "")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Endereco)</td>
            <td>@Html.TextBoxFor(model => model.Endereco, "")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Genero)</td>
            <td>
                @Html.RadioButtonFor(model => model.Genero, "M", new { @checked = true }) Masculino | 
                @Html.RadioButtonFor(model => model.Genero, "F") Feminino
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right"><input type="submit" value="Cadastrar"/></td>
        </tr>
    </table>
    <br/>
    @Html.ActionLink("Voltar para Index", "Index")
}

