﻿
@{
    ViewBag.Title = "Sobre";
}

<h2>Sobre</h2>
<hr>
Games Sale é um projeto desenvolvido para promover leilões de jogos, consoles e os mais diversos tipos de acessórios para todas as plataformas. Seja um @Html.ActionLink("patrocinador", "Patrocinio", "Home").