﻿@model ExemploCRUD.Models.Produto
@{
    ViewBag.Title = "Cadastro de Leilão";
}

<h2>Novo Leilão</h2>
<hr>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Titulo)
    @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" })

    @Html.LabelFor(model => model.Descricao)
    @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control" })

    @Html.LabelFor(model => model.Categoria)
    //@Html.DropDownListFor(model => model.Categoria)

    @Html.LabelFor(model => model.Plataforma)
    //@Html.DropDownListFor(model => model.Plataforma)

    <input type="submit" value="Criar Leilão" class="btn btn-default" style="margin-left: 190px; margin-top: 5px;" />
}