﻿@model ExemploCRUD.Models.Usuario
@{
    ViewBag.Title = "Registrar";
}

<h2>Registrar</h2>
<hr>
@using (Html.BeginForm())
{
        @Html.LabelFor(model => model.Nome)
        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })

        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })

        @Html.LabelFor(model => model.Senha)
        @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
   
        <input type="submit" value="Cadastrar" class="btn btn-default" style="margin-left: 190px; margin-top: 5px;" />
}